* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
.nav {
    background: #f44336;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: fixed;
    width: 100%;
    -webkit-box-shadow: 0 1px 7px -1px black;
            box-shadow: 0 1px 7px -1px black;
    z-index: 4;
   
}
.nav a{
    display: block;
    padding: 17px 16px;
}
.nav a:hover {
    background: white;
    color: black;
}
.logo {
    text-transform: uppercase;
    background: white;
    color: black;
}
#bars {
    font-size: 18px;
}
#side {
    display: none;
}
.nav__menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
    background: white;
    color: black;  
    overflow: hidden;
    -webkit-animation: sidetop .3s ease;
            animation: sidetop .3s ease;
    z-index: 1;
}
.nav__menu.open {
    -webkit-transition: max-height .3s ease;
    transition: max-height .3s ease;
    max-height: 200px;
}
.nav__menu__list:hover {
    background: lightgray;
}


.header {
    -webkit-transform: skewY(1deg);
            transform: skewY(1deg);
    background: #f44336;
    padding: 180px 0 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
}
.header >* {
  -webkit-transform: skewY(-1deg);
          transform: skewY(-1deg);
}
.header__title {
    font-size: 38px;
    
}
.header__des {
    font-size: 19px;
    padding: 40px 0;
}
.btn {
    color: white;
    font-size: 17px;
    border: none;
    background: black;
    padding: 14px 24px;
}

.section__contact+.section__contact {
    background: #f1f1f1;
}
.section__contact+.section__contact .section__contact__icon {
     -webkit-box-ordinal-group: 0;
         -ms-flex-order: -1;
             order: -1;   
}
.section__contact+.section__contact .left {
    text-align: right;
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.section__contact+.section__contact .left.open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
}
.section__contact {
     padding: 70px 42px;   
    display: -webkit-box;   
    display: -ms-flexbox;   
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.section__contact__title {
    padding: 70px 0 40px;
    font-size: 32px;
}
.section__contact__des {
    line-height: 1.7;
    font-size: 16px;
}
.section__contact__p {
    color: #676767;
    line-height: 1.5;
    font-size: 13px;
    padding: 40px 0 50px;
}
.section__contact__icon {
     text-align: center;
     opacity: 0;   
     -webkit-transition: all .3s ease .3s;   
     transition: all .3s ease .3s;
}
.section__contact__icon.open {
    opacity: 1;
}
.section i {
    color: #f44336;
    font-size: 210px;
}

.promote {
    
    text-align: center;
    background: #666666;
    color: white;
    font-size: 24px;
    padding: 74px 0;
    margin-top: -20px;
}

.footer {
    padding: 35px 0 55px;
    line-height: 4;
}
.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 24px;
}
.social__list {
    margin: 0 2px;
    color: #666666;
}
.social__list:hover {
    color: #999999;
}
.powered {
    text-align: center;
    font-size: 13px;
    color: #696969;
}
.powered a {
    text-decoration: underline;
}
.left {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.left.open {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
}
.section__contact__icon {
    opacity: 0;

}
@media screen and (min-width: 768px) {
    #side {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
    .header__title {
    font-size: 58px;
    
}
    #bars {
        display: none;
    }
    .nav__menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-height: 200px;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
      background: #f44336;
        color: white;
    }
    .section__contact {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        padding: 40px 10%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .left {
        -webkit-box-flex: 2;
            -ms-flex: 2;
                flex: 2;
    }
    .section__contact__icon {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    }
}

@-webkit-keyframes sidetop {
    0% {
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@keyframes sidetop {
    0% {
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}